body {
  font-family: sans-serif;
  background-color: white;
}

p {
   padding-left: 30px; 
  font-size: 30px;
}

#container {
  display: none;
}

@media screen and (max-device-width : 790px)  {
  body {
    background-color: #5abfb1;
  }

  p {
    display:none;
  }

#container {
  display: block;
  margin-top: 5%;
  text-align: center;
  position: relative;
}

  .digitbox {
    border-radius: 20px;
    width: 47%;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    padding: 2% 1% 1.5% 1%;
    background-color: black;
    color: #fff59d;
    font-size: 9em; 
    position: relative;
    float: left;
    margin-right: 1%;

}
}
